*,html,body{
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: bisque;
}

.wrapper{
    text-align: center;

}

.pemilu{
    font-size: 50px;
}

.calon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.photo {
    width: 200px;
    height: 200px;
    align-content: center;
}

.pasangan1 {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.pasangan2 {
    justify-content: center;
    align-items: center;
}

button{
    display: block;
    padding: 10px;
    border-radius: 30px;
    background-color: yellow;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.hidden {
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    background-color: rgba(0,0,0,0.5);
    position: ;
    line-height: 600px;
    color: white;
    font-size: 40px;
    display: none;
}

.visible {
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    line-height: 600px;
    color: white;
    font-size: 40px;
    display: block;
}

.animated-box {
    position: absolute;
    animation: move 5s infinite;
    animation-play-state: paused;
}

@keyframes move {
    0% { transform: translateX(0); }
    50% { transform: translateX(200px); }
    100% { transform: translateX(0); }
}

/* https://bit.ly/47GpNES */